/* Style for the header */
header {
    background-color: #003C71;
    padding: 16px 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; /* Applying Roboto font */
    font-weight: bold;
}

html, body { height: 100%; }

body {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

/* Style for the navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}





